.navbar{
    display: flex;
    position: fixed;
    width: 100%;    
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #1B2D2A;
    padding: 15px 0;
}
.navbar .max-width {
    width: 100%;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: #1B2D2A;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #e5e6e4;
}
.navbar.sticky .menu li a:hover{
    color: #f7971c;
}
.navbar.sticky .menu li a{
    color: #e5e6e4;
}



.navbar .logo {
    width: 315px;
}
.navbar .logo img {
    width: 100%;
    transition: all 0.3s ease;
}